button,
.button,
input[type=reset],
input[type=submit],
input[type=button]
  float left
  size auto 30px
  padding 0 10px
  font-family font
  font-size 14px 30px
  c #fff #16518e
  border 0
  cursor pointer
  text-transform uppercase
  transition all 0.3s ease
  text-decoration none
  appearance none
  &:hover
    background-color #16518e
  &:active
    background-color #16518e
  &::-moz-focus-inner
    border none
    padding 0