button,
.button,
input[type=reset],
input[type=submit],
input[type=button]
  float left
  size auto 30px
  padding 0 10px
  font-family font
  font-size 14px 30px
  c #fff #4F3F2F
  border 0
  cursor pointer
  text-transform uppercase
  transition all 0.3s ease
  text-decoration none
  appearance none
  &:hover
    background-color #2F1F0F
    color #fff
  &:active
    background-color #2F1F0F
    color #fff
  &::-moz-focus-inner
    border none
    padding 0
  &.secondary 
    c #fff #666
    