
h1 = 32px
h2 = 24px
h3 = 18px
h4 = 16px

for i in 1..4
  h{i}
    {R}
    ff font-title
    font-size lookup('h' + i) lookup('h' + i)
    font-weight inherit
    c color-title
    margin 0


h1,
.h1-title
  margin 10px 0

h2,
.h2-title
  //

h3,
.h3-title
  //
