
h1 = 34px
h1_margin = 22px 0 18px
h2 = 28px
h2_margin = 18px 0 16px
h3 = 22px
h3_margin = 14px 0 10px
h4 = 20px
h4_margin = 12px 0 8px

for i in 1..4
  h{i}
    {R}
    ff font-title
    font-size lookup('h' + i) lookup('h' + i)
    font-weight inherit
    c color-title
    margin lookup('h' + i + '_margin')
    clear both


h1,
.h1-title
  margin 20px 0 16px

h2,
.h2-title
  //

h3,
.h3-title
  //
