.R
  {R}
  position relative
  
.full
  width 100%
.large
  width 75%
.half
  width 50%
.third
  width 33.3333333%
.quarter
  width 25%


.circle
  border-radius 50%

.left
  float left
.right
  float right
.clear
  clear both
  
.inline-block 
  display inline-block 

.center
  top center
  left center

.centerh
  position relative
  left center
  
.centerv
  top center
  
.align-top   
  vertical-align top
.align-bottom
  vertical-align bottom
.align-middle
  vertical-align middle


.text-left
  text-align left
.text-right
  text-align right
.text-center
  text-align center
.text-justify
  text-align justify

.bold
  font-weight bold
.italic
  font-style italic
.underline
  text-decoration underline

.uppercase
  text-transform uppercase
.lowercase
  text-transform lowercase

.ell
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.nowrap
  white-space nowrap

.tr
  transition all 0.3s ease

.no-style
  list-style none
  padding 0

.hide
  display none !important

.show
  display block !important

.oh
  overflow hidden

.mobile-only
  display none
  .mobile &
    display block
.desktop-only
  .mobile &
    display none