
tab-height = 35px

ul.tabs
  {R}
  padding-left 16px
  border-bottom 1px solid #d6
  height tab-height
  list-style none
  a
    float left
    padding 0 10px
    margin-right 8px
    border-radius 6px 6px 0 0
    height tab-height
    font-size 14px 32px
    c color-link #f
    border 1px solid #d6
    &.is-active,
    //&.active,
    &:hover
      border-bottom 1px solid #f
      height 38px
      line-height 36px
      margin-top -3px
      c color-link-hover