p
  font-size 14px 22px
  margin 8px 0 4px
  
.body ul
  width auto
  margin 10 0 18px

.body ul,
.body ol
  padding-left 12px
  float none

.body ul li 
  margin 10px 0 5px 5px
  font-size 14px 22px

em
  font-style italic