article.node
  clear both
  .gist
    clear both
    margin 18px 0
  p
    float none
  ul li
    clear both
  .content-wrapper
    margin 12px 0 20px
    clear both
  .read-more
    float right
  .return-blog
    margin 40px 0
    float right
  .title-teaser
    ff font-title
    float left
    width 75%
  &.view-mode-teaser .date
    font-size 12px 60px
    float right
.article-separator
  margin-bottom 20px