.page-user
  #content
    .tabs
      float none
    .tabs,
    form,
    .profile
      width 960px
      margin auto
      margin-top 20px
  .profile
    h3,
    > dl
      {R}
      margin-bottom 10px