ie(version = '', version2 = null, version3 = null, version4 = null)
  .IE{version} &
    {block}

  if version2
    .IE{version2} &
      {block}
  if version3
    .IE{version3} &
      {block}
  if version4
    .IE{version4} &
      {block}
